extends ./index

block content
       main        
 
         #homePage  
          #section1
            .container 
             .col.s12.center-align
                h2 ACCOMPAGNEMENT À LA NAISSANCE
                img(src="images/celine-hypnose-divider.png")
                br
                br
                p L'hypnose est un outil fabuleux pour les futures mères. 
                p Au fil des années, mon expérience dans le suivi du couple, que ce soit pendant la grossesse ou l'accouchement m'a permis d'élaborer une méthode de préparation à la naissance pour une grossesse et une naissance plus sereines.
                p A travers quelques séances, vous allez apprendre différentes techniques d'auto-hypnose afin de gérer le stress et les contractions au moment de l'accouchement.
                
              
           #section2
            .row
             .col.s6.offset-s3
              hr.title-hr
             .col.s12
              .center-align
               h2 OK, MAIS PLUS CONCRÈTEMENT... ?
               img(src="images/celine-hypnose-divider.png")
              
              br
              .col.s6.m4.applications
               .center-align
                h3 Avant la Grossesse
                p L'hypnose peut...
                br
               ul.browser-default
                li Vous accompagner dans le parcours P.M.A (Assistance Médicale à la Procréation)
                li Vous préparer psychiquement à la grossesse
               
              .col.s6.m4.applications
               .center-align
                h3 Pendant la Grossesse
                p L'hypnose aide...
                br
               ul.browser-default
                li À diminuer les petits maux de la grossesse, les nausées, les vomissements...
                li À apaiser son anxiété et à diminuer les troubles du sommeil
                li À accepter les changements pendant la grossesse
                li À la gestion de la douleur au moment l'accouchement
                li À mettre à distance une expérience négative vécue lors d'une précédente grossesse ou autre
                li À accepter une césarienne programmée
                
               
              .col.s6.offset-s3.m4.applications
               .center-align 
                h3 Après l'Accouchement
                p L'hypnose permet...
                br
               ul.browser-default
                li De vivre sereinement la période du post-partum
                li D'accepter le vécu d'un accouchement difficile
                li D'aider à la transition vers la nouvelle vie de parents
                li De diminuer les difficultés de reprise de la sexualité
                li De diminuer les douleurs périnéales
               
           #section3
             .row.valign-wrapper
              .col.s12.m4.sideImg.hide-on-small-and-down
               img.z-depth-2.responsive-img(src="images/petitOiseau_side.png")
              .col.s12.m8.container.center-align.secPad
               hr.title-hr
               div
                h2 COMMENT ÇA MARCHE ?
                img(src="images/celine-hypnose-divider.png") 
               br
               p Mes services d'accompagnement à la naissance se déclinent en plusieurs forfaits.
               p Si vous n'effectuez pas d'autre préparation à la naissance, vous avez droit à 7 séances prises en charge par la sécurité sociale et votre mutuelle.
                br
                |Nous adapterons ensemble les séances qui correspondent et pourrons combiner d'autres techniques telles que la préparation classique, la sophrologie, le Yoga,...
               p Dans le cadre d'un accompagnement en complément d'une préparation à la naissance, vous avez le choix entre deux forfaits prédéfinis ou vous pouvez composer votre forfait vous même pour qu'ils vous conviennent comme un gant.
               
           #section4
            .container
             .row
              .col.s6.m4
               ul.center-align.collapsible(data-collapsible="accordion")
                li
                 .collapsible-header Le Complet
                 
                 .collapsible-body
                  span
                   ul
                    li.emph Idéal pour un premier bébé, pour vous donner PLEINS d'outils
                    br
                    li 6 séances de 45min à 1h
                    li 300€
                  
              .col.s6.m4
               ul.center-align.collapsible(data-collapsible="accordion")
                li
                 .collapsible-header L'Essentiel
                
                 .collapsible-body
                  span 
                    ul
                     li.emph Idéal pour un service ciblé sur la naissance et la gestion des contractions 
                     br
                     li 4 séances de 45min à 1h
                     li 220€
                    
              .col.s6.m4
               ul.center-align.collapsible(data-collapsible="accordion")
                li
                 .collapsible-header DIY                
                 .collapsible-body
                  span
                   ul
                    li.emph De une à autant de séances que désirées!
                    br
                    br
                    li Chaque séance de 45min à 1h
                    li 60€
